html,
body {
   font-family: Helvetica, sans-serif;
}

@media (min-width: 992px) {
   body {
      padding-left: 280px;
   }
}

.wrapper {
   min-height: calc(100vh - 51px - 1rem - 53.7px);
}

@media (min-width: 992px) {
   .wrapper {
      min-height: calc(100vh - 53px - 1rem - 53px);
   }
}

.wrapper>section {
   margin-bottom: 4rem;
}

@media (min-width: 992px) {
   .wrapper>section {
      margin-bottom: 5rem;
   }
}

.bg-light {
   background-color: #f1f2f2 !important;
}

@media (min-width: 768px) {
   .container-fluid.px-md-4 {
      padding-left: calc(1.5rem + .5vw) !important;
      padding-right: calc(1.5rem + .5vw) !important;
   }
}

/* modal center zoom */
.modal-center .modal-dialog {
   display: flex;
   align-items: center;
   min-height: calc(100% - var(--bs-modal-margin) * 2);
   height: calc(100% - var(--bs-modal-margin) * 2);
}

.modal.fade.modal-center .modal-dialog {
   transform: translate(0) scale(.25);
}

.modal.fade.modal-center.show .modal-dialog {
   transform: translate(0) scale(1);
}

button:focus,
input:focus,
select:focus,
a:focus,
textarea:focus,
select,
.form-control {
   outline: none !important;
   box-shadow: none !important;
   text-decoration: none !important;
}

@media (min-width: 576px) {
   .w-sm-auto {
      width: auto !important;
   }
}

/* .form-check-input {
   background-color: transparent !important;
   border-color: #878787 !important;
}

.form-check-input:checked {
   background-color: #323232 !important;
   border-color: #323232 !important;
}

.pagination a,
.pagination a:hover {
   color: #323232;
}

.pagination .page-item.active .page-link {
   background-color: #323232;
   border-color: #323232;
}*/

.disabled>.page-link,
.page-link.disabled {
   color: rgba(0, 0, 0, .25);
}